<link rel='stylesheet' href='/stylesheets/main.css' />
<div class="container">
  {{> nav}}

  <div class="row">

    {{#each places}}
    <div class="col-4 mt-3">
      <div class="container" style="padding: 0px">
        <div class="blog-card"
          style="background: url(https://source.unsplash.com/random/1200x500/?coffee,breakfast&sig={{randomImage}})">
          <div class="title-content">
            <h3>{{this.name}}</h3>
            <hr />
            <div class="intro">{{this.vicinity}}</div>
          </div><!-- /.title-content -->
          <div class="card-info">
            <div class="mb-3 mt-3 mx-auto">
              {{#each this.preferences}}
              <span class="badge badge-pill badge-info">{{this}}</span>
              {{/each}}
            </div>
            <a href="/places/{{this.placeId}}" class="btn btn-primary">Show restaurant</a>
          </div><!-- /.card-info -->
          <div class="utility-info">
            <ul class="utility-list">
              <li><i class="far fa-star"></i> {{this.rating}}</li>
            </ul>
          </div><!-- /.utility-info -->
          <!-- overlays -->
          <div class="gradient-overlay"></div>
          <div class="color-overlay"></div>
        </div><!-- /.blog-card -->
      </div>

    </div>
    {{/each}}

  </div>
</div>