<div class="jumbotron jumbotronBackground-completed">
  <h1 class="display-4">Hi {{order.user.name}}! your order has been confirmed!</h1>
  <p class="lead">The restaurant {{order.bar.name}} has confirmed your order. You can take it in around half an hour.</p>
   <p class="lead"> Order summary:</p>
   <ul>
       {{#each order.orderMenu}}
    <li>{{this.units}} units of {{this.name}}, {{mult this.units this.price}} </li>
       {{/each }}
    <li> Total: {{order.total}}€</li>
   </ul>
  <hr class="my-4">
  <p>The charge will appear in your account in a few minutes.</p>
  <a class="btn btn-primary btn-lg" href="/" role="button">Go back.</a>
</div>