<div class="container">
{{> nav }}

<div class="container mt-5">
    <div class="list-group">
        <div class="text-light list-group-item list-group-item active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{place.name}}</h5>
                <small>Order date: {{date-format order.updatedAt}}</small>
            </div>
            <p class="mb-1">{{place.vicinity}}</p>
            <small>Order id: {{order.id}}</small>
                  <div class="checkboxes-container fav-place mb-1 {{isFavMenu session.fav.bar.id place.id}}">
        <button class="btn btn-primary fav-btn {{isFavOrderMenu order.orderMenu user.fav.menu}}" type="button" value="{{order.id}}" id="fav-menu-btn" >Favorite</button>
      </div>
        </div>
        <div class="list-group-item list-group-item">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{order.orderMenu.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                {{#each order.orderMenu}}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="div-content text-left">
                        <h6 class="my-0">{{this.name}}</h6>
                    </div>
                    <div class="div-content text-center">
                        <span class="mx-auto col-3 text-muted">{{this.price}}</span>
                    </div>
                    <div class="div-content text-center">
                        <span class="mx-auto col-3 text-muted">{{this.units}}</span>
                    </div>
                    <div class="div-content text-right">
                        <span class="h6">{{mult this.price this.units}}</span>
                    </div>
                </li>
                {{/each}}
                <li class="h5 list-group-item d-flex justify-content-between">
                    <span>Total (EUR)</span>
                    <strong>{{order.total}}€</strong>
                </li>
            </ul>
            
        </div>
        
    </div>
    
    <div class="d-flex justify-content-end">
        <form action="/orders/{{order.id}}/completed" method="POST">
  <script
    src="https://checkout.stripe.com/checkout.js" class="stripe-button"
    data-key="pk_test_alk1A0a4L24JLGpgNHcAXGF7"
    data-amount="{{mult order.total 100}}"
    data-name="Robertusopo"
    data-description="Example charge"
    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
    data-locale="auto"
    data-currency="eur">
  </script>
</form>

    </div>
</div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/menuFav.js"></script>


