<div class="container">
{{> nav }}

<div class="container mt-5">
    <div class="list-group">
        <div class="text-light list-group-item list-group-item active">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{place.name}}</h5>
                <small>Order date: {{date-format order.updatedAt}}</small>
            </div>
            <p class="mb-1">{{place.vicinity}}</p>
            <small>Order id: {{order.id}}</small>
        </div>
        <div class="list-group-item list-group-item">
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Your cart</span>
                <span class="badge badge-secondary badge-pill">{{order.orderMenu.length}}</span>
            </h4>
            <ul class="list-group mb-3">
                {{#each order.orderMenu}}
                <li class="list-group-item d-flex justify-content-between lh-condensed">
                    <div class="div-content text-left">
                        <h6 class="my-0">{{this.name}}</h6>
                    </div>
                    <div class="div-content text-center">
                        <span class="mx-auto col-3 text-muted">{{this.price}}</span>
                    </div>
                    <div class="div-content text-center">
                        <span class="mx-auto col-3 text-muted">{{this.units}}</span>
                    </div>
                    <div class="div-content text-right">
                        <span class="h6">{{mult this.price this.units}}</span>
                    </div>
                </li>
                {{/each}}
                <li class="h5 list-group-item d-flex justify-content-between">
                    <span>Total (EUR)</span>
                    <strong>{{order.total}}€</strong>
                </li>
            </ul>
        </div>
    </div>
        
      <div class="checkboxes-container fav-place m-3 {{isFavMenu session.fav.bar.id place.id}}">
        <button class="btn btn-primary fav-btn {{isFavBar session.fav.bar.id place.id}}" type="button" value="{{order.id}}" id="fav-menu-btn" >Favorito</button>
      </div>
    
    <div class="d-flex justify-content-end">
        <a class="btn btn-primary mt-3" href="pay">Hacer Pedido</a>
{{!-- <button type="submit" class="btn btn-primary mt-3">Hacer Pedido</button> --}}
    </div>
</div>
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script src="/js/menuFav.js"></script>
