<div class="container">
  <article id="create-user">
    <form action="/users/create" method="post" class="form">
      <div class="container">
        <h2 class="mb-3">Find in the map your position:</h2>

        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
          </div>
          <input type="text" id="latitude" class="form-control" name="latitude" placeholder="Latitude" />
        </div>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <span class="input-group-text"> <i class="fas fa-map-marker"></i> </span>
          </div>
          <input type="text" id="longitude" class="form-control" name="longitude" placeholder="Longitude" />
        </div>
      </div>
      <input id="pac-input" class="controls form-control mt-3 shadow-lg" style="width: 400px;" type="text" placeholder="Search Box">
      <div class="container">
        {{> map}}
      </div>
      <div class="container">
        <h2 class="mb-3 mt-3">Choose your breakfast preferences:</h2>
        {{#each allPreferences as |preference| }}
        <div class="inputGroup">
          <input id="option-{{preference.id}}" name="preferences" value="{{preference.id}}" type="checkbox" {{hasPreference ../session preference user.preferences }}/>
          <label for="option-{{preference.id}}">{{preference.name}}</label>
        </div>
        {{/each}}
      </div>
      <div class="form-actions container">
        <button class="btn btn-primary btn-block" type="submit">Sign up</button>
      </div>
    </form>
    <script src="../../controllers/users.controller.js"></script>
  </article>
</div>